@use 'styles/variables';

.titulo {
  display: inline-flex;
  flex-direction: column;
  color: variables.$primary-color-pure;
  margin: 0 0.5rem;

  span {
    width: fit-content;
    margin: -1.3rem -0.8rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .titulo {
    span {
      margin: -0.875rem 0;

      svg {
        width: 170px;
      }
    }
  }
}
