.card_acess_settings_email {
    display: flex;
    justify-content: space-between;
}

.card_acess_settings_email div {
    display: flex;
    gap: 16px;
}

.card_acess_settings_password {
    display: flex;
    justify-content: space-between;
}

.card_acess_settings_password div {
    display: flex;
    gap: 16px;
}