@use 'styles/variables';

.sidebar_main {
  height: 100vh;
  width: 135px;
  max-width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: variables.$primary-color-pure;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 0px 40px 40px 0px;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}

.sidebar_avatar {
  height: 60px;
  width: 61px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  border: 1px solid #d87036;
  position: relative;
  overflow: hidden;
  z-index: 99;
  top: 0;
  bottom: 100px;
  border: 2px dashed #fbfbfc;
  border-spacing: 0.55rem;
}

.avatar_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  z-index: -99;
  border-radius: 100%;
  padding: 6px 6.5px;
}

.sidebar_icons {
  &:hover {
    svg {
      path {
        fill: variables.$neutral-color-high-pure;
        filter: drop-shadow(0px 4px 10px rgba(255, 237, 227, 0.6));
      }
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .sidebar_main {
    display: none;
  }
}
