// Primary Colors
$primary-color-pure: #d87036;
$brand-color-primary-light: #ffb68d;
$brand-color-primary-medium: #ee9b6d;
$brand-color-primary-dark: #b25624;

// Secondary Colors
$secondary-color-pure: #344054;
$secondary-color-primary-light: #a9b2c2;
$secondary-color-primary-medium: #556176;
$secondary-color-primary-dark: #202733;

// Highlight colors
$highlight-color-pure: #2d5bff;

// Neutral Low colors
$neutral-colors-low-pure: #000000;
$neutral-colors-low-light: #afb0b2;

// Neutral High colors
$neutral-color-high-pure: #fbfbfd;
$neutral-color-high-light: #f2f2f2;
$neutral-color-high-medium: #e0e2e5;

// Font Family
$font-family-highlight: "Montserrat";
$font-family-base: "Lato";

// Border radius
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 24px;
$border-radius-4: 500px;
$border-radius-5: 50%;

// Forms Inputs
@mixin forms-inputs($max-width-value) {
  border-radius: 1rem;
  max-width: $max-width-value;

  legend {
    font-weight: bold;
    margin-left: 0.5rem;
  }

  input {
    width: 90%;
    border: none;
    margin: 0.5rem 1rem 1rem 1rem;
    background-color: #f5f5f5;

    &:focus {
      outline: none;
    }
  }
}

// Buttons
@mixin button-with-svg {
  width: 100%;
  min-width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 2em;
  color: #d87036;
  background-color: #fbfbfc;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 1rem;
  border: 1px solid #344054;
  transition: ease-in-out 0.25s;
  cursor: pointer;

  &:hover {
    color: #fbfbfd;
    background-color: #d87036;
  }
}

@mixin button-without-svg {
  width: 100%;
  min-width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 2em;
  color: #d87036;
  background-color: #fbfbfc;
  font-family: "Lato";
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 1px solid #344054;
  transition: ease-in-out 0.25s;
  cursor: pointer;

  &:hover {
    color: #fbfbfd;
    background-color: #d87036;
  }
}
