// Primary Colors

$primary-color-pure: #D87036;
$brand-color-primary-light: #FFB68D;
$brand-color-primary-medium: #EE9B6D;
$brand-color-primary-dark: #B25624;

// Secondary Colors
$secondary-color-pure: #344054;
$secondary-color-primary-light: #A9B2C2;
$secondary-color-primary-medium: #556176;
$secondary-color-primary-dark:  #202733;

// Highlight colors
$highlight-color-pure: #2D5BFF;

// Neutral Low colors
$neutral-colors-low-pure: #000000;
$neutral-colors-low-light: #AFB0B2;

// Neutral High colors
$neutral-color-high-pure: #FBFBFD;
$neutral-color-high-light: #F2F2F2;
$neutral-color-high-medium: #E0E2E5;

// Border radius
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 24px;
$border-radius-4: 500px;
$border-radius-5: 50%;

