// Primary Colors
$primary-color-pure: #D87036;
$brand-color-primary-light: #FFB68D;
$brand-color-primary-medium: #EE9B6D;
$brand-color-primary-dark: #B25624;

// Secondary Colors
$secondary-color-pure: #344054;
$secondary-color-primary-light: #A9B2C2;
$secondary-color-primary-medium: #556176;
$secondary-color-primary-dark:  #202733;

// Highlight colors
$highlight-color-pure: #2D5BFF;

// Neutral Low colors
$neutral-colors-low-pure: #000000;
$neutral-colors-low-light: #AFB0B2;

// Neutral High colors
$neutral-color-high-pure: #FBFBFD;
$neutral-color-high-light: #F2F2F2;
$neutral-color-high-medium: #E0E2E5;

// Font Family
$font-family-highlight: "Montserrat";
$font-family-base: "Lato";

// Border radius
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 24px;
$border-radius-4: 500px;
$border-radius-5: 50%;

// Forms Inputs
@mixin forms-inputs($max-width-value) {
    border-radius: 1rem;
    max-width: $max-width-value;

    legend {
        font-family: "Lato";
        font-weight: 400;
        margin-left: 0.5rem;
        line-height: 110%;
    }

    input, textarea {
        font-family: "Lato";
        font-size: 0.875rem;
        color:#AFB0B2;
        width: 90%;
        height: 100%;
        border:none;
        margin: 0 1rem;
        background-color: #F5F5F5;
        resize: none;
    
        &:focus {
        outline: none;
        }
    }
}

