@use 'styles/variables';

.container {
    --max-width: 1440px;
    --padding: 8.43rem;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}

.dashboard_titulo{
    color: variables.$secondary-color-pure;
    font-size: 2.6250rem;
    line-height: 120%;
    margin-top: 9rem;
}

.dashboard_palavra_sublinhada {
    display: inline-flex;
    flex-direction: column;    
    color: variables.$secondary-color-pure;
    margin: 0 0.5rem;

    span {
        width: 100%;
        max-width: 125px;
        margin: -2.5rem 1rem;
    }
}

.dashboard_all_numbers{
    display: flex;
    justify-content: center;
    gap: 4.625rem;
    margin: 1.5rem 0;
}

.dashboard_subtitulo{
    margin-bottom: 2rem;

    p {
        font-size: 1.125rem;
        font-weight: 400;
        color: variables.$secondary-color-pure;
    }
}

.dashboard_form_container {
    font-family: variables.$font-family-base;
    color: variables.$secondary-color-primary-dark;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 2rem 1.25rem; 
    grid-template-areas: 
      "dashboard_form_nome_input ."
      "dashboard_form_cidade_input dashboard_form_estado_input"
      "dashboard_form_descricao_input ."
      "dashboard_form_linkedin_input dashboard_form_portfolio_input"; 
}

.dashboard_form_nome_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;
    grid-area: dashboard_form_nome_input;
}

.dashboard_form_cidade_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;
    grid-area: dashboard_form_cidade_input;
}

.dashboard_form_estado_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;
    grid-area: dashboard_form_estado_input;
}

.dashboard_form_descricao_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;  
    grid-area: dashboard_form_descricao_input;
}

.dashboard_form_linkedin_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;
    grid-area: dashboard_form_linkedin_input;
}

.dashboard_form_portfolio_input{
    @include variables.forms-inputs(325px);
    height: 100%;
    max-height: 56px;
    grid-area: dashboard_form_portfolio_input;
}

.dashboard_form_upload_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 483px;
    margin: 2.875rem 0 4.6875rem 0;
   
    span {
        width: 100%;
        font-family: variables.$font-family-base;
        color: variables.$secondary-color-primary-dark; 
    }

    input[type='file'] {
    display: none
    }

    label {
    width: 100%;
    min-width: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    color: variables.$primary-color-pure;
    background-color: #FBFBFC;
    font-family: variables.$font-family-base;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 1px solid variables.$secondary-color-pure;
    transition: ease-in-out 0.25s;
    cursor: pointer;
        
       &:hover{
          color: variables.$neutral-color-high-pure;
          background-color: variables.$primary-color-pure;
       }
    }
}

.dashboard_button_submit{
    margin-left: auto;
    button {
        max-width: 157px;
    }
}
