@use 'styles/variables';

.container {
  width: 100%;
  max-width: 1440px;
  position: relative;
  padding-left: 5rem;
  height: 84vh;
}

.dashboard_welcome {
  position: relative;
  z-index: 1;

  h2 {
    font-style: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.dashboard_titulo {
  width: 690px;
  color: variables.$secondary-color-pure;
  font-size: 2.625rem;
  line-height: 120%;
  margin-top: 3rem;
  min-height: 100px;
}

.dashboard_titulo_hidden {
  visibility: hidden;
}

.dashboard_palavra_sublinhada {
  display: inline-flex;
  flex-direction: column;
  color: variables.$secondary-color-pure;
  margin: 0 0.5rem;

  span {
    width: 100%;
    max-width: 125px;
    margin: -2.5rem 1rem;
  }
}

.dashboard_steps_indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1.5rem 0;
  height: 40px;
}

.step_now {
  svg {
    circle {
      fill: variables.$primary-color-pure;
    }
  }
}

.dashboard_subtitulo {
  max-width: 100%;
  font-style: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #344054;
}

.linha {
  width: 2px;
  height: 58px;
  /* High/ light */
  background: #f2f2f2;
  border-radius: 4px;
  transform: rotate(-90deg);
}

.background_image {
  position: absolute;
  max-width: 100%;
  max-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding: 0 1.5rem;
    height: 100vh;
    max-width: 100vw;
  }

  .dashboard_titulo {
    font-size: 1.5rem;
    width: 100vw;
  }

  .dashboard_palavra_sublinhada {
    span {
      display: none;
    }
  }

  .background_image {
    display: none;
  }

  .dashboard_steps_indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 268px;
  }
}
