@use 'styles/variables';

.container {
  width: 100%;
  max-width: 761px;
  margin-inline: auto;
}

.agenda_button {
  display: none;
}

.button_mobile {
  display: none;
}

.groups {
  padding: 1rem 2rem;
}

.groups_usuario_imagem_principal {
  max-height: 255px;
  position: relative;

  .groups_usuario_imagem_rectangle {
    width: 761px;
    max-width: 100%;
  }

  .groups_usuario_imagem_perfil {
    max-width: 188px;
    min-width: 14.64%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 1px solid #d87036;
    position: absolute;
    overflow: hidden;

    bottom: 100px;
    top: 62%;
    z-index: 9;
  }
}

.groups_usuario_infos {
  display: flex;
  width: calc(100% - 204px);
  margin: 1.125rem 0 0 auto;
  align-items: center;

  .groups_usuario_infos_descricao {
    min-width: 167px;
    strong {
      font-size: 1.5rem;
      font-weight: 700;
      color: #344054;
    }
    p {
      font-size: 1.125rem;
    }
  }

  h1 {
    color: variables.$secondary-color-pure;
    min-width: max-content;
  }

  .groups_usuario_infos_buttons {
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.375rem 1rem;
      width: auto;
      height: auto;
      background: #fbfbfc;
      border: 1px solid #d87036;
      border-radius: 8px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 120%;
      color: #d87036;
    }
  }

  .share_icon {
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: 28px;
    align-items: center;
  }
}

.grupos_usario {
  margin-top: 3rem;

  ul {
    display: flex;
    gap: 2rem;

    li {
      .button_active {
        position: relative;
        z-index: 1;
        font-size: 1.125rem;
        color: variables.$primary-color-pure;
      }
      .button_active:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 22px;
        height: 2px;
        width: 65%; /* or 100px */
        border-bottom: 2px solid #d87036;
      }

      .button {
        color: #a9b2c2;
      }
    }
  }
}

.groups_list {
  display: flex;
  gap: 30px;
}

.grupos_container {
  display: flex;

  margin-top: 4rem;

  .grupos_usario_button {
    width: 180px;
    max-width: 100%;
    height: 222px;
    max-height: 100%;
    padding-top: 1rem;
    font-size: 1.125rem;
    color: #344054;
    font-weight: 700;
    margin-right: 4rem;
    cursor: pointer;
    background-color: #fbfbfc;

    .grupos_usuario_signal {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem 1rem 0 0;
      background-color: variables.$neutral-color-high-light;
    }

    .grupos_usuario_text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.125rem;
      font-weight: 700;
      height: 50%;
      border-radius: 0 0 1rem 1rem;
      color: variables.$secondary-color-pure;
      background-color: variables.$neutral-color-high-medium;
    }
  }
}

.agenda {
  display: block;
}

.agenda_button {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .container {
    padding: 0;
  }

  .groups {
    padding: 0;
    max-width: 100%;
  }

  .groups_usuario_imagem_principal {
    max-height: 255px;
    position: relative;

    .groups_usuario_imagem_rectangle {
      max-width: 100%;
    }

    .groups_usuario_imagem_perfil {
      max-width: 100px;
      max-height: 100px;
      bottom: 100px;
      top: 200px;
      z-index: 9;
    }
  }

  .groups_usuario_infos {

    position: relative;
    flex-direction: column-reverse;
    margin-left: 7.3125rem;
    width: fit-content;
    .groups_usuario_infos_descricao {
      strong {
        font-size: 1.14rem;
        color: #52575c;
      }
    }
  }

  .groups_usuario_infos_buttons {
    position: absolute;
    gap: 0.5rem !important;
    top: -155%;
    margin-left: 0.5rem !important;
    right: 0;
    left: 0%;
    width: 100%;
    font-size: 0.75rem;

    span {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .grupos_container {
    flex-direction: column;
  }

  .grupos_container {
    justify-content: center;
    align-items: center;
  }

  .agenda {
    display: none;
  }

  .agenda_button {
    display: block;
    max-width: 100%;
    margin-inline: auto;
  }

  .grupos_usario_button {
    margin-top: 0;
  }

  .grupos_usario {
    display: none;
  }

  .button_mobile {
    display: block;
  }
}
