* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a {
  width: fit-content;
  text-decoration: none;
}

textarea {
  border: 0px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
