@use 'styles/variables';

.login_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_img{
    width: 50%;
    margin-right: 80px;
    margin-top: 80px;
}

.login_form{
    width: 35%;
    padding: 1.5rem;
    background: #f8f8f8;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
    backdrop-filter: blur(4px);
    margin-top: 30px;
}

.intro {
    margin-top: 30px;
    text-align: center;
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        color: variables.$secondary-color-primary-dark;
        font-weight: bold;
        font-size: 2rem;
        margin: 26px 0;
    }

    p {
        font-family: variables.$font-family-base;
        color: variables.$secondary-color-pure;
        width: 85%;
        margin: 26px auto;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1.62rem auto;
}

    .google_button {
        @include variables.button-with-svg;
    
        &:hover .googleIcon {
            svg { 
              path {
                fill: #Ffffff;
              }
            }
        }
    }

    .facebook_button {
        @include variables.button-with-svg;
        
        &:hover .fbIcon {
            svg {
              path {
                fill: #Ffffff;
              }
           }
        }
    }

    .googleIcon {
        margin-right: 0.5rem;
        
        svg {
          path {
            fill: variables.$primary-color-pure;
          }
        }
    }

    .fbIcon {
        margin-right: 0.5rem;
        
        svg {
            path {
            fill: variables.$highlight-color-pure;
        }
    }
}   


.continue {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.62rem 0;

    span {
        width: 32%;
        border: 1px solid #C7C9CC;
    }
    
    p {
        margin: 0 1rem;
        font-size: 0.875rem;
        font-weight: bold;
        color: variables.$secondary-color-pure;
    }
}

.login_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.625rem auto;
}

.email_input, .password_input{
    border-radius: 1rem;

    legend {
        font-weight: bold;
        margin-left: 0.5rem;
    }

    input {
        width: 90%;
        border:none;
        margin: 1rem;
        background-color: #f8f8f8;;
    
        &:focus {
        outline: none;
        }
    }
}

.info_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
        color: variables.$secondary-color-pure;
    }

    h3 {
        font-family:'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold ;
        
    }

    a {
        text-decoration: none;
        color: variables.$primary-color-pure;
    }
}

.checkbox {
    display: flex;
    justify-content: space-between; 

    input {
        margin-right: 0.5rem;
    }
    
    a   {
        font-family: "Inter", sans-serif;
        font-weight: bold;
        color: variables.$highlight-color-pure;
        margin-right: 5px;
    }
}

.button_entrar{
    @include variables.button-with-svg;
}
