.container_partners {
    display: flex;
    align-items: center;
    background-color: #FBFBFC;
    height: 796px;
    background-color: #F2F2F2;
}

.partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.partners_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 159px;

    h1 {
        width: 414px;
        height: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: #344054;
    }

    p {
        width: 382px;
        height: 66px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #344054;
    }

    strong {
        display: inline-flex;
        flex-direction: column;
        margin: 0 0.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: #344054;
    }

    span {
        margin: -2.5rem 1rem;
    }
}

.partners_section {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        background: #D87036;
        border-radius: 16px;
        width: 237px;
        height: 54px;
        margin-top: 8px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.bookpartners_img {
    display: flex;
    position: absolute;
    left: 840px;
    top: 650px;
}

.our_partners {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 208px;
    background: #FBFBFC;
}

.framepartners {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 159px;
}

.partners_benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    margin-bottom: 150px;

    h1 {
        width: 900px;
        height: 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        text-align: center;
        color: #202733;
        margin: 80px auto;
    }

    strong {
        display: inline-flex;
        flex-direction: column;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
        color: #202733;
    }

    span {
        margin: -1.5rem 1rem;
    }
}

.framebenefits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
}