@use 'styles/variables';

.signup_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_img{
    width: 50%;
    margin-right: 80px;
    margin-top: 80px;
}

.signup_form{
    width: 32%;
    padding: 1.5rem;
    background: #f8f8f8;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1);
    backdrop-filter: blur(4px);
    margin-top: 86px;
    margin-bottom: 136px;
}

.signup_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
   
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        color: variables.$secondary-color-primary-dark;
        line-height: 120%;
        font-size: 2rem;
        margin-top: 26px;
        width: 85%;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        width: 85%;
        margin: 26px auto;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 26px auto;
}

.continue {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 26px 0;

    span {
        width: 32%;
        border: 1px solid #C7C9CC;
    }
    p {
        margin: 0 1rem;
        font-size: 14px;
        font-weight: bold;
        color: variables.$secondary-color-pure;
    }}


.signup_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 26px auto;

    p {
        display: flex;        
        font-size: 12px;
        span {
            margin-right: 0.5rem;
        }
        
    }

}


.email_input, .password_input{
    border-radius: 1rem;

  legend {
    font-weight: bold;
    margin-left: 0.5rem;
  }

  input {
    width: 90%;
       border:none;
    margin: 1rem;
    background-color: #f8f8f8;;
    &:focus {
      outline: none;
    }
  }

}


.info_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
        color: variables.$secondary-color-pure;
    }

 h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold ;
    
 }

 a {
    text-decoration: none;
    color: variables.$primary-color-pure;
 }
}

.checkbox_terms {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-size: 14px;

    input {
        margin-right: 0.5rem;
    }
    a{
        font-family: "Inter", sans-serif;
        font-weight: bold;
        color: variables.$highlight-color-pure;
        margin-right: 5px;
    }

}

.privacy, .terms{
    font-family: "Lato", sans-serif;
    color: variables.$primary-color-pure;
    text-decoration: none;
    background-color: transparent;
}

.password_advisor{
    display: flex;
    justify-content: space-between;
  
    p {
        font-family: 'Lato';

font-weight: 400;
font-size: 12px;
    }
    
}