@use 'styles/variables';

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem 1rem;
  height: 65vh;
  grid-template-areas:
    'nome .'
    'cidade estado'
    'descricao .'
    'linkedin portfolio'
    'foto foto'
    '. button';
}

.form_nome {
  grid-area: nome;
}
.form_cidade {
  grid-area: cidade;
}
.form_descricao {
  grid-area: descricao;
}
.form_linkedin {
  grid-area: linkedin;
}
.form_uf {
  grid-area: estado;

  legend {
    margin-left: 0.5rem;
    margin-top: -10px;
  }

  input {
    width: 90%;
    border: none;
    margin: 1rem;
    background-color: #f8f8f8;

    &:focus {
      outline: none;
    }
  }
}
.form_porfolio {
  grid-area: portfolio;
}

.form_upload_input {
  grid-area: foto;
}

.form_button {
  grid-area: button;
}

.cidade_input {
  grid-area: cidade;
  border-radius: 1rem;
  height: 56px;
  border: 2px solid #afb0b2;

  legend {
    margin-left: 0.5rem;
    margin-top: -10px;
  }

  input {
    width: 90%;
    border: none;
    margin: 1rem;
    background-color: #f8f8f8;

    &:focus {
      outline: none;
    }
  }
}
