.btn_signin,
.btn_register {
  display: flex;
  width: 134px;
  height: 54px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  border-radius: 1rem;
  padding: 1rem 40px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.btn_signin {
  background-color: #d87036;
  color: #fbfbfc;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_register {
  background-color: #fbfbfc;
  color: #344054;
  border: 1px solid #344054;
  box-shadow: none;
}

.btn_signin:hover {
  background-color: #fbfbfc;
  color: #d87036;
}
