@use 'styles/variables';

.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   color: variables.$primary-color-pure;
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
   height: 3.5rem;
   border-radius: 1rem;
   border: 1px solid variables.$secondary-color-pure;
   transition: ease-in-out 0.25s;
   cursor: pointer;
  

 &:hover{
    color: variables.$neutral-color-high-pure;
    background-color: variables.$primary-color-pure;
 }

 &:hover .googleIcon {
  svg {
         
    path {
      fill: #Ffffff;
     
    }
}

 }

 &:hover .fbIcon {
  svg {
         
    path {
      fill: #Ffffff;
     
    }
 }
 
 }}

.googleIcon {
      svg {
         
        path {
          fill: variables.$primary-color-pure;

        }
  }
}

.fbIcon {
      svg {
        path {
          fill: variables.$primary-color-pure;
        
        }
  }
}