@use 'styles/variables';

.btn {
 color: variables.$primary-color-pure;
 height: 3.5rem;
 padding: 1rem 2.5rem;
 border-radius: 1rem;
 border: 1px solid variables.$secondary-color-pure;
 transition: ease-in-out 0.25s;
 cursor: pointer;

 &:hover{
    color: variables.$neutral-color-high-pure;
    background-color: variables.$primary-color-pure;
 }
}