@use 'styles/variables';

.card {
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(132, 132, 132, 0.2);
    max-width: 330px;
    
    figure {
        position: relative;
    }
}

.card_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card_heart_button{
    position: absolute;
    top: 14px;
    right: 1rem;
    padding: 14px 12px 10px 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out 0.25s;
    z-index: 1;
    
    &:hover{
    color: variables.$neutral-color-high-pure;
    background-color: variables.$primary-color-pure;
    }

    &:hover .card_heart_icon {
        svg {
          path {
            fill: #fff;
          }
      }
    }
}

.card_arrow_image {
    position: absolute;
    bottom: -2.5rem;
    right: 1rem;
    border-radius: 50%;

    .card_arrow_icon{
        background-color: variables.$primary-color-pure;
        padding: 1rem;
    }
}

.card_content{
    margin: 1.5rem;

    strong {
        color: variables.$secondary-color-pure;
        font-size: 1.5rem;
        font-weight: 700;
    }
    button{
        font-size: 12px;
        border: 1px solid variables.$primary-color-pure;
        padding: 0.5rem 1.5rem;
    }

    .card_bookmark_button{
        display: flex;
        color: variables.$secondary-color-primary-medium;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 1rem;
        background-color: #fff;
        border: none;
        padding: 0;
  
        svg {
            margin-right: 0.25rem;
            cursor: pointer;

            &:hover {
            fill: variables.$primary-color-pure;
            }
        }

       
    }

    .card_buttons {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        gap: 0.5rem;
    }    

    .card_features{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
        color: variables.$secondary-color-pure;
    }
}