@use 'styles/variables';


.link {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #F2F2F2;
border: 1px solid #E0E2E6;
border-radius: 0px 0px 24px 24px;
font-family: "Montserrat", sans-serif;
padding: 31px 0;
    
    a {
    color: variables.$secondary-color-pure;
    text-decoration: none;
    font-size: 2rem;
}    
    
}


