@use 'styles/variables';

.box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 32px;
}

.modal_edit_password_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #52575C;
}

.modal_input {
    border-radius: 1rem;

    legend {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        color: #000000;
        margin-left: 0.5rem;
    }

    input {
        width: 90%;
        border: none;
        margin: 1rem;
        background-color: #FBFBFC;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #AFB0B3;

        &:focus {
            outline: none;
        }

    }
}

.password_advisor {
    display: flex;
    gap: 8px;
    align-items: center;

    p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #797C80;
    }

}

.modal_confirm_btn button {
    display: flex;
    padding: 16px 32px;
    width: 480px;
    height: 54px;
    background: #D87036;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}