@use 'styles/variables';

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 24px 32px 32px;
}

.modal_password_reset_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #52575C;
    text-align: center;
}

.modal_password_reset_span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #797C80;
}

.modal_confirm_btn button {
    display: flex;
    padding: 16px 32px;
    width: 480px;
    height: 54px;
    background: #D87036;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}