@use 'styles/variables';

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 1px;
    z-index: 99;
    gap: 80px;
    background: variables.$neutral-color-high-medium;
    border-radius: 0px 0px 1.5rem 1.5rem;

    a {
        color: variables.$secondary-color-pure;
        text-decoration: none;
        font-size: 2rem;
        margin: 2rem 0;
    }
}

.links {
    display: flex;
    gap: 80px;

    a {
        font-size: 1rem;
        &:hover{
            color: variables.$highlight-color-pure;
        }
    }
}

.nav_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

  