.modal_edit_profile_btn button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    text-decoration-line: underline;
    color: #2D5BFF;
    cursor: pointer;
    border: none;
    outline: none;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 24px 32px;
}

.modal_edit_profile_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #52575C;
}

.modal_edit_profile_btns {
    display: flex;
    gap: 16px;
}

.modal_edit_btn,
.modal_photo_btn {
    width: 232px;
    height: 54px;
    background: #D87036;
    border-radius: 16px;
    padding: 16px 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}