@use 'styles/variables';

.box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
}

.modal_create_task_title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    color: #52575c;
  }
}
