.embla {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 412px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  max-width: 95%;
  justify-content: center;
  margin: 0 auto;
  /* High/pure */
  background: #fbfbfc;

  /* shadow / 3 */
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-radius: 16px;
  overflow: hidden;
  gap: 1.1875rem;
}

.embla__slide {
  position: relative;
  overflow: hidden;
  flex: 0 0 13%;
}
