.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  min-width: 100vw;
  margin: 0 auto;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 40%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  padding-left: 100px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dots {
  display: flex;
  list-style: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 16px;
  height: 16px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
  background-color: #d87036;
}

.embla__dot:after {
  background-color: #d87036;
  width: 100%;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  content: '';
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
