.container {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .container {
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
  }

  .link {
    margin: 0 auto;
  }
}
