@use 'styles/variables';

$layout-breakpoint-small: 375px;

.footer {
  width: 100vw;
  background-color: variables.$primary-color-pure;

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1444px;
    padding: 2.62rem 1.475rem;
    margin: 0 auto;
  }
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 17.5rem;

  h1 {
    color: variables.$neutral-color-high-pure;
    font-size: 1.5rem;
  }

  ul {
    display: flex;

    li {
      color: variables.$neutral-color-high-pure;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: variables.$highlight-color-pure;
      }
    }
  }
}

.footer_logos {
  ul {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 1.25rem;
  }
}

.footer_terms {
  display: flex;
  color: #fbfbfb;
  gap: 1.25rem;
  font-size: 0.75rem;
  margin-top: 1.8rem;

  a {
    color: #fbfbfb;

    &:hover {
      color: variables.$highlight-color-pure;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.9375rem;
    margin-inline: auto;
  }

  .footer_terms {
    flex-direction: column;
    margin: 1.9371rem auto;

    a {
      margin: 0 auto;
    }
  }
}
